<div class="container my-4">
  <div class="row align-items-end">
    {{$orderData := cond .even "order-sm-1" "order-sm-2"}}
    {{$orderImg := cond .even "order-sm-2" "order-sm-1"}}
    <div class="col-lg-4 {{$orderData}} p-150">
      <div class="section-title">
        <h3 class="feature-title" style="font-size: {{.args.featureTitleFontSize}};">{{ .context.title | markdownify}}</h3>
        {{if .context.subtitle}}
        <p class="text-primary text-uppercase fw-bold mb-3">
          {{ .context.subtitle | markdownify }}
        </p>
        {{end}}
        {{if .context.description}}
        <p class="feature-description lead mb-0 mt-3" id="product_p" style="font-size: {{.args.featureTextFontSize}};">{{ .context.description | markdownify}}</p>
        {{end}}
        {{if .context.buttons}}
          <div class="feature-description">
            {{range .context.buttons}}
              <a
              href="{{.buttonLink | absURL}}"
              class="qrt-btn qrt-btn-md qrt-btn-color {{if in (.buttonLink | absURL) ($.Site.BaseURL)}}   qrt-anima-link {{end}} my-3"
              ><span>{{.buttonText}}</span>
            </a>
          {{end}}
        </div>
        {{end}}
      </div>
    </div>
    <div class="col-lg-8 text-center text-lg-end {{$orderImg}}">
      {{ if .context.image }}
      <img
        class="lozad image_Product"
        src="{{.context.image}}"
        alt="{{.context.title}}"
      />
      {{ end }}
    </div>
  </div>
</div>
