    {{ with .PrevInSection }}  
  
      <a href="{{.Permalink}}">
          {{if .Params.image}}
    
          <img src="{{.Params.image | absURL }}" alt="">
   
        {{end}}
        <div>
          <span>Previous</span>
          <h6>{{.Title}}</h6>
        </div>
      </a>
    </div><!-- /.blog-prev  -->
    {{end}}
    {{ with .NextInSection }}  
      <a href="{{.Permalink}}">
          <span>Next</span>
          <h6>{{.Title}}</h6>

        {{if .Params.image}}
          <img src="{{.Params.image | absURL }}" alt="blog thumb">
        {{end}}

    {{end}}
