{{ define "main" }}

<div class="qrt-half-content-frame column">
    {{ partial "inner-banner.html" . }}
    <div class="qrt-left">
        <div class="row">
            <div class="col-xl-8 offset-xl-2 col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        {{partial "theme-files/content-design" .}}
                        <div class="row">
                            {{ range .Data.Pages.ByDate.Reverse }}
                            <div class="col-md-6 col-lg-4 mb-20">
                                <div class="qrt-work-item">
                                    <a href="{{ .Permalink }}">
                                        {{ if .Params.mainImage }}
                                        <div class="">
                                            <img src="{{ .Params.mainImage | absURL }}" alt="product Banner">
                                        </div>
                                        {{ end }}
                                        <!-- <div class="qrt-item-zoom qrt-cursor-color"><i class="fas fa-external-link"></i></div> -->
                                        <div class="qrt-work-descr">
                                            <h4 class="qrt-cursor-color qrt-white"><a class="qrt-anima-link"
                                                    href="{{ .Permalink }}">{{ .Title }}</a></h4>
                                            <a href="{{.Permalink}}"
                                                class="qrt-cursor-scale qrt-work-more qrt-anima-link"><i
                                                    class="fas fa-arrow-right"></i></a>
                                        </div>

                                        <div class="qrt-work-desr pl-20 pr-20 pb-20">
                                            <div class="description-content">
                                                {{ if .Params.shortDescription }}{{ .Params.shortDescription }}{{ end }}
                                            </div>
                                        </div>
                                        
                                    </a>
                                </div>
                            </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{{ end }}