{{ define "main" }}

<div class="qrt-half-content-frame column">
    {{ partial "inner-banner.html" . }}
    <div class="qrt-left">
        <div class="row">
            <div class="col-xl-8 offset-xl-2 col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        {{partial "theme-files/content-design" .}}
                        <div class="row">
                            {{ range .Data.Pages.ByDate.Reverse }}

                            <div class="courses-list-wrapper">
                                <div class="course-wrapper accordion">
                                    <img class="course-list-image" src="{{.Params.mainImage}}" alt="{{.Title}}" />
                                    <div class="course-text col-xl-6">
                                        <h3 class="course-title">{{.Title}}</h3>
                                        <p class="description-content">{{.Params.shortDescription}}</p>


                                        <p class="course-learn-more">Learn more
                                            &rightarrow;</p>

                                    </div>
                                </div>
                                <div class="accordion-panel">
                                    <div class="course-panel-description">
                                        {{.Content}}

                                    </div>
                                    {{ partial "courses/enrol-form.html" . }}

                                    <!-- Add a button with a link to the course page -->

                                    <!--  {{ if eq .Params.upcoming false }}-->
                                    <!--    {{ partial "courses/enrol-form.html" . }}-->
                                    <!--  {{ end }}-->
                                </div>
                            </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script language="javascript" type="text/javascript" src="{{ " /js/accordion.js " | urlize | relURL }}"></script>
<script language="javascript" type="text/javascript" src="{{ " /js/modal.js " | urlize | relURL }}"></script>
<script language="javascript" type="text/javascript" src="{{ " /js/product.js " | urlize | relURL }}"></script>


{{ end }}