{{ define "main" }}
<div class="qrt-half-content-frame column">
    {{ partial "inner-banner.html" . }}
    <section class="qrt-left column product-content">
        {{ partial "courses/instructors-list.html" . }}
    </section>

    <!-- grid start -->
  <div class="col-xl-8 offset-xl-2 col-lg-12">

    <!-- Our Courses Section Start -->
      <div class="row justify-content-center">
            <h2 class="qrt-left course-title">Course Categories</h2>
            <!-- <div class="qrt-grid-sizer"></div> -->

            {{ $courseData := .Site.Data.course_list.category  }}

            {{ range .Site.Taxonomies.course_categories }}
            {{ $category := .Page.LinkTitle }}
            {{ $course := slice }}
            {{ range $courseData }}
            {{ if eq .course_categories $category }}
            {{ $course = . }}
            {{ end }}
            {{ end }}
            {{ if $course }}
            {{ $thumbnail := $course.thumbnail }}
            {{ $description := $course.description }}

            <div class="col-md-6 col-lg-4 mb-20">
              <div class="qrt-work-item">
                <a href="{{ .Page.Permalink }}" data-filter="*" class="qrt-cursor-color qrt-cursor-scale qrt-work-cover-frame qrt-anima-link">
                  {{ with $thumbnail }}
                  <div>
                    <img src="{{ $thumbnail | absURL }}" alt="{{ $category }}" />
                  </div>
                  {{ end }}
                  <div class="qrt-work-descr">
                    <h4 class="qrt-cursor-color qrt-white">
                      <a class="qrt-anima-link" href="#">{{ $category }}</a>
                    </h4>
                    <a href="{{ .Page.Permalink }}" class="qrt-cursor-scale qrt-work-more qrt-anima-link">
                      <i class="fas fa-arrow-right"></i>
                    </a>
                  </div>
                  {{ with $description }}
                  <div class="qrt-work-desr pl-20 pr-20 pb-20">
                    <div class="qrt-port-short-text">
                      {{ $description }}
                    </div>
                  </div>
                  {{ end }}
                </a>
              </div>
            </div>
            {{ end }}
            {{ end }}
      </div>
    <!-- Our Coursess Section End -->

    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        {{ $shorttermCourses := where .Site.RegularPages "Params.shortterm" true }}
        {{ if $shorttermCourses }}
        <h2 class="qrt-left course-title">Short Term Courses</h2>
        <div class="row justify-content-center">
          {{ range $shorttermCourses }}
          <div class="col-md-6 col-lg-3 mb-20">
            <a href="{{ .Permalink }}" class="card-container qrt-work-item qrt-cursor-color qrt-cursor-scale" style="text-decoration: none; color: inherit;">
              <div class="m-auto position-relative">
                <img src="{{ .Params.mainImage }}" alt="...">
                <div class="overlay">

                </div>
              </div>
              <div class="card-body text-center">
                <h5 class="card-title">{{ .Params.title }}</h5>
                <p class="card-text">Trainer: {{ .Params.trainer }}</p>
              </div>
            </a>
          </div>
          {{ end }}
        </div>
        {{ end }}
      </div>
    </div>


  </div>
  <!-- grid end -->

</div>

    <script language="javascript" type="text/javascript">
        $(function () {

            $('#gmap-holder').click(function (e) {
                $(this).find('iframe').css('pointer-events', 'all');
            }).mouseleave(function (e) {
                $(this).find('iframe').css('pointer-events', 'none');
            });
        })
    </script>

    <script language="javascript" type="text/javascript" src="{{ " /js/accordion.js " | urlize | relURL }}"></script>
    <script language="javascript" type="text/javascript" src="{{ " /js/modal.js " | urlize | relURL }}"></script>
    <script language="javascript" type="text/javascript" src="{{ " /js/product.js " | urlize | relURL }}"></script>
    {{ end }}
