{{ define "main" }}
<div class="qrt-half-content-frame column">
    {{ partial "inner-banner.html" . }}
    <section class="qrt-left column product-content">
        {{ partial "courses/instructors-list.html" . }}
    </section>

    <!-- grid start -->
    <div class="qrt-left">
        <div class="row">
            <div class="col-xl-8 offset-xl-2 col-lg-12">
                <div class="row">
                    <div class="col-lg-12">

                      <div class="row justify-content-center">
                          <h2 class="qrt-left course-title">Our Courses</h2>
                            <!-- <div class="qrt-grid-sizer"></div> -->

                            {{ $courseData := .Site.Data.course_list.category  }}

                            {{ range .Site.Taxonomies.course_categories }}
                                {{ $category := .Page.LinkTitle }}
                                {{ $course := slice }}
                                {{ range $courseData }}
                                    {{ if eq .course_categories $category }}
                                        {{ $course = . }}
                                    {{ end }}
                                {{ end }}
                                {{ if $course }}
                                {{ $thumbnail := $course.thumbnail }}
                                {{ $description := $course.description }}

                                <div class="col-md-6 col-lg-4 mb-20">
                                    <div class="qrt-work-item">
                                        <a href="{{ .Page.Permalink }}" data-filter="*" class="qrt-cursor-color qrt-cursor-scale qrt-work-cover-frame qrt-anima-link">
                                            {{ with $thumbnail }}
                                                <div>
                                                    <img src="{{ $thumbnail | absURL }}" alt="{{ $category }}" />
                                                </div>
                                            {{ end }}
                                            <div class="qrt-work-descr">
                                                <h4 class="qrt-cursor-color qrt-white">
                                                    <a class="qrt-anima-link" href="#">{{ $category }}</a>
                                                </h4>
                                                <a href="{{ .Page.Permalink }}" class="qrt-cursor-scale qrt-work-more qrt-anima-link">
                                                    <i class="fas fa-arrow-right"></i>
                                                </a>
                                            </div>
                                            {{ with $description }}
                                                <div class="qrt-work-desr pl-20 pr-20 pb-20">
                                                    <div class="qrt-port-short-text">
                                                        {{ $description }}
                                                    </div>
                                                </div>
                                            {{ end }}
                                        </a>
                                    </div>
                                </div>
                                {{ end }}
                            {{ end }}
                        </div>
               </div>
                </div>
            </div>
        </div>
    </div>
    <!-- grid end -->

    <div class="qrt-half-content-frame column bg-grey">
<!--        <section class="col-xl-8 offset-xl-2 col-lg-12">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-12">-->
<!--                  <h2 class="qrt-left course-title">Upcoming Trainings</h2>-->
<!--                    <div class="row">-->
<!--                        {{ $upcomingCourses := where .Site.RegularPages "Params.upcoming" true }}-->
<!--                        {{ if $upcomingCourses }}-->
<!--                        {{ range $upcomingCourses }}-->
<!--                        <div class="col-md-6 col-lg-3 mb-20">-->
<!--                            <div class="qrt-work-item qrt-cursor-color qrt-cursor-scale">-->
<!--                                <div class="m-auto">-->
<!--                                    <img src="{{ .Params.mainImage }}"  alt="...">-->
<!--                                </div>-->

<!--                                <div class="card-body">-->
<!--                                    <h5 class="card-title">{{ .Params.title }}</h5>-->
<!--                                    <p class="card-text">Trainer: {{ .Params.trainer }}</p>-->
<!--                                    <p class="card-text">Date: {{ .Params.date.Format "02/01/2006" }}</p>-->
<!--                                    {{ $url := .Params.formURL }}-->
<!--                                    <a href="{{ $url | safeURL  }}" class="btn btn-primary">Register</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        {{ end }}-->
<!--                        {{ end }}-->
<!--                    </div>-->
<!--                    {{ if not $upcomingCourses }}-->
<!--                    <div style="border: 1px inset silver; margin:15px 25px 5px 1px; padding: 15px;">-->
<!--                        <div class="row" style="padding: 5px">-->
<!--                            <h4 style="color: gray; font-family: 'Josefin Sans', sans-serif">We are currently preparing-->
<!--                                schedules for our upcoming sessions. Enroll now and we will notify you when we schedule-->
<!--                                a session.</h4>-->
<!--                        </div>-->
<!--                        {{ partial "courses/enrol-form.html" . }}-->
<!--                    </div>-->
<!--                    {{ end }}-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->

    </div>

    <script language="javascript" type="text/javascript">
        $(function () {

            $('#gmap-holder').click(function (e) {
                $(this).find('iframe').css('pointer-events', 'all');
            }).mouseleave(function (e) {
                $(this).find('iframe').css('pointer-events', 'none');
            });
        })
    </script>

    <script language="javascript" type="text/javascript" src="{{ " /js/accordion.js " | urlize | relURL }}"></script>
    <script language="javascript" type="text/javascript" src="{{ " /js/modal.js " | urlize | relURL }}"></script>
    <script language="javascript" type="text/javascript" src="{{ " /js/product.js " | urlize | relURL }}"></script>
    {{ end }}
