{{ define "main" }}



<div class="cover">
  <div class="cover-content">
    <!-- Title Section with Background -->
    {{ $coursesIndex := .Site.GetPage "section" "courses" }}
    <div class="title-section"
      style="background: linear-gradient(rgba(0, 0.1, 0.1, 0), rgba(25, 25, 45, 0.93)), url('{{ .Params.coverImage }}'); background-size: cover; background-position: center center; padding: 250px 0; margin-bottom: -2px;">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <!-- Logo Area -->
          <div class="col-md-2 text-center">
            <img src="{{ with $coursesIndex }}{{ .Params.logoImage }}{{ end }}" alt="Course Logo" class="img-fluid" style="max-width: 150px;">
          </div>
          <!-- Title and Description Area -->
          <div class="col-md-10">
            <h1 class="mb-3 text-white">{{.Title}}</h1>
            <p class="lead text-light">{{.Params.shortDescription}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">

  <!-- Course Cover -->
  <div class="container ">
    <div class="row justify-content-center">
      <div class="col-md-12">

        <!-- Course Details -->
        <div class="row justify-content-center">
          <div class="col-md-10">
            <h2 class="text-center">Course Details</h2>
            <p>{{ .Content }}</p>
          </div>
        </div>

        <!-- Prerequisites Section -->
        <div class="row justify-content-center">
          <div class="col-md-10">
            <h2 class="text-center">Prerequisites</h2>
            <ul>
              {{ with .Params.prerequisites }}
              {{ range . }}
              <li>{{ . }}</li>
              {{ end }}
              {{ end }}
            </ul>
          </div>
        </div>

        <!-- Enrollment Section -->
        <div class="pricing-enrolment-section py-5">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-10 text-center">
                <h2>Course Enrollment</h2>
                <h3 class="mb-2">Duration: <strong>{{ .Params.duration }}</strong></h3>
                <p class="card-text">Empower your skills with our comprehensive course</p>
                <div class="card pricing-card mb-4 shadow bg-dark">
                  <div class="card-body">
                    <h3 class="card-title">Standard Course</h3>
                    <h1 class="price-display">${{ .Params.price }}</h1>
                    <p class="card-text">Full access to all course materials and support</p>
                    <a href="{{ $.Params.formURL }}" id="courselinktrigger" class="btn btn-primary btn-lg mt-4">Enroll
                      Now</a>
                  </div>
                </div>
               </div>
            </div>
          </div>
        </div>

        <!-- Modules Section -->
        <div class="row justify-content-center">
          <div class="col-md-12">
            <h2 class="text-center">Course Modules</h2>
            <p class="mb-5 text-center">Every module features a dedicated 2-hour live session with a seasoned instructor.</p>
            {{ with .Params.module }}
            {{ range . }}
            <div class="module-card mb-5 p-5 bg-dark rounded shadow">
              <h3 class="module-title mb-4">{{ .title }}</h3>
              <p class="module-description mb-4">{{ .description | markdownify }}</p>
              <div class="module-list">
                {{ range .topics }}
                {{ . | markdownify }}
                {{ end }}
              </div>
            </div>
            {{ end }}
            {{ end }}
          </div>
        </div>


        <!-- Who Should Attend Section -->
        <div class="container my-5">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <h2 class="mb-4 text-center">Who Should Attend</h2>
              <div class="row d-flex">
                {{ range .Params.whoShouldAttend }}
                <div class="col-md-6 mb-4 d-flex">
                  <div class="card bg-dark rounded flex-fill">
                    <div class="card-body">
                      <h5 class="card-title">{{ .title }}</h5>
                      <p class="card-text">{{ .description }}</p>
                    </div>
                  </div>
                </div>
                {{ end }}
              </div>
            </div>
          </div>
        </div>

        <!-- Learning Outcomes Section -->
        <div class="container my-5">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <h2 class="mb-4 text-center">Learning Outcomes</h2>
              <div class="row d-flex">
                {{ range .Params.learningOutcomes }}
                <div class="col-md-6 mb-4 d-flex">
                  <div class="card bg-dark rounded flex-fill">
                    <div class="card-body">
                      <h5 class="card-title">{{ .title }}</h5>
                      <p class="card-text">{{ .description }}</p>
                    </div>
                  </div>
                </div>
                {{ end }}
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<!-- Include Bootstrap CSS -->

<style>
  .card.bg-light {
    background: linear-gradient(to right, #f9f9f9, #e9ecef);
  }

  body {
    font-family: 'Arial', sans-serif !important;
    color: #fff;
  }

  .title-section {
    background-size: cover;
    background-position: center;
    padding: 250px 0;
    margin-bottom: -2px;
    /* To help further reduce any visible seams */
  }


  @media (max-width: 767px) {
    .title-section {
      padding: 150px 0;
      /* Reduce padding on small devices */
    }
  }

  .content-section {
    background-color: #fff;
    /* or the color of your page's main content background */
    padding: 50px 0;
  }

  .section {
    padding: 60px 0;
    font-family: Arial, sans-serif !important;
    color: #fff;
    /* Example font. Use your desired font family. */

  }

  h1 {
    font-size: calc(1.375rem + 1.5vw);
    font-family: 'Arial', sans-serif !important;
    font-weight: 500;
  }

  h3 {
    font-size: calc(1.3rem + .6vw);
    font-family: 'Arial', sans-serif !important;
    font-weight: 500;
  }

  h5 {
    font-size: 1.25rem;
    font-family: 'Arial', sans-serif !important;
    font-weight: 500;
    text-transform: none;
  }

  .section h2 {
    font-size: 35px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
    border-bottom: 2px solid #eee;
    /* subtle underline to demarcate sections */
    padding-bottom: 10px;
    font-variant-caps: all-petite-caps;
  }


  .section p,
  .section li {
    font-size: 16px;
    color: #fff;
    /* Lighter than heading color */
    line-height: 1.6;
    /* Improved readability */
    margin-bottom: 20px;

  }

  .section ul {
    padding-left: 20px;
    /* Space bullets from the edge */

  }

  .cover {
    position: relative;
    overflow: hidden;
  }

  .cover-content {
    position: relative;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
    margin-bottom: -50px;
    /* Overlap amount */
  }

  .content-section {
    background-color: #fff;
    padding: 50px 0;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    /* Optional: to match with cover-content border radius */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Optional: for a slight elevation effect */
  }

  .card {
    border: none;
    transition: transform 0.2s;
  }

  .card:hover {
    transform: translateY(-10px);
  }

  .btn {
    transition: transform 0.2s;
  }

  .btn:hover {
    transform: translateY(-2px);
  }

  .pricing-card {
    border-color: #333;
  }

  .exclusive-course {
    font-weight: 600;
    color: #0069ff;
    /* Matched with the Calendly button color for consistency */
  }




  .pricing-card {
    border-radius: 15px;
  }

  .price-display {
    font-size: 3rem;
    font-weight: bold;
  }

  .btn-primary {
    background: linear-gradient(90deg, #007bff, #0069ff);
    border: none;
    border-radius: 30px;
    padding: 12px 40px;
    font-weight: 600;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }

  .btn-primary:hover {
    background: linear-gradient(90deg, #0069ff, #0058e2);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.12);
    transform: scale(1.02);
  }

  .btn-primary:active {
    background: linear-gradient(90deg, #0058e2, #004bc7);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    transform: scale(0.98);
  }
</style>

<!-- Include Bootstrap JS (with Popper.js) -->

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"></script>
<!-- Calendly badge widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<script type="text/javascript">
  document.getElementById("courselinktrigger").addEventListener("click", function (event) {
    event.preventDefault();
    var calendlyLink = event.target.href;
    Calendly.showPopupWidget(calendlyLink);
  });
</script>

{{ end }}
