<div class="courses-list-wrapper">
  <h2>{{.Params.coursesListTitle}}</h2>
  {{ with site.GetPage "courses" }}
    {{ range where .Pages.ByDate.Reverse ".Params.upcoming" false }}
      {{ partial "courses/course-in-list.html" . }}
    {{ end }}
  {{ end }}
  {{ with site.GetPage "courses" }}
    {{ if ne (len (where .Pages ".Params.upcoming" true)) 0 }}
      <h3 class="upcoming-courses-title">{{.Params.upcomingCoursesListTitle}}</h3>
    {{ end }}
    {{ range where .Pages.ByDate.Reverse ".Params.upcoming" true }}
      {{ partial "courses/course-in-list.html" . }}
    {{ end }}
  {{ end }}
</div>