
  <h2>{{.Params.coursesListTitle}}</h2>
  <div class="courses-list-wrapper">
    {{ with site.GetPage "courses" }}
    {{ range where .Pages.ByDate.Reverse ".Params.shortterm" false }}
      <div class="course-wrapper">
        <a href="{{ .Permalink }}" class="course-link">
          <img class="course-image" src="{{.Params.mainImage}}" alt="{{.Title}}" />
          <div class="course-text">
            <h3 class="course-title">{{.Title}}</h3>
            <p class="course-short-description">{{.Params.shortDescription}}</p>
            <a href="{{ .Permalink }}" class="course-learn-more">Learn more &rightarrow;</a>
          </div>
        </a>
      </div>
    {{ end }}
  {{ end }}
  </div>
  {{ if ne (len (where .Pages ".Params.shortterm" true)) 0 }}
  <h3 class="shortterm-courses-title">{{.Params.shorttermCoursesListTitle}}</h3>
  {{ end }}
 <div class="courses-list-wrapper">

  {{ with site.GetPage "courses" }}

    {{ range where .Pages.ByDate.Reverse ".Params.shortterm" true }}
    <div class="course-wrapper">
      <a href="{{ .Permalink }}" class="course-link">
        <img class="course-image" src="{{.Params.mainImage}}" alt="{{.Title}}" />
        <div class="course-text">
          <h3 class="course-title">{{.Title}}</h3>
          <p class="course-short-description">{{.Params.shortDescription}}</p>
          <a href="{{ .Permalink }}" class="course-learn-more">Learn more &rightarrow;</a>
        </div>
      </a>
    </div>

    {{ end }}
  {{ end }}
</div>
