<div class="course-wrapper accordion">
  <img class="course-image" src="{{.Params.mainImage}}" alt="{{.Title}}" />
  <div class="course-text">
    <h3 class="course-title">{{.Title}}</h3>
    <p class="course-short-description">{{.Params.shortDescription}}</p>
    <p class="course-learn-more">Learn more &rightarrow;</p>
  </div>
</div>
<div class="accordion-panel">
  <div class="course-panel-description">
    {{.Content}}
  </div>
<!--  {{ if eq .Params.upcoming false }}-->
<!--    {{ partial "courses/enrol-form.html" . }}-->
<!--  {{ end }}-->
</div>
