{{ with .Site.GetPage "/courses" }}
  <div class="contact-wrapper">
    <form action="{{ .Params.formURL }}" method="get" class="contact-form" onsubmit="submitted=true">
      {{ range .Params.contactFields }}
        <div class="contact-row">
          <label class="contact-label">{{.label}}</label>
          <input type="text" placeholder="{{.label}}" name="{{.name}}" class="contact-input" required>
        </div>
      {{ end }}
      <button class="qrt-btn qrt-btn-color contact-button" type="submit">{{.Params.enrolTitle}}</button>
    </form>
  </div>
{{ end }}