


        
        <div class="swiper-container qrt-main-slider">
          
          
          <!-- <div class="qrt-slider-navigation qrt-absolute">
            <div class="qrt-slider-nav-btn qrt-main-prev qrt-cursor-scale qrt-cursor-color"><i class="fas fa-arrow-left"></i><span>prev</span></div>
            <div class="qrt-slider-nav-btn qrt-main-next qrt-cursor-scale qrt-cursor-color"><span>next</span><i class="fas fa-arrow-right"></i></div>
          </div> -->
          <div class="swiper-wrapper">
          {{range $.Site.Data.home_slider.list }}
          {{range .}}
          
          <div class="swiper-slide">
            
                  <div class="qrt-project-cover">
                    <div class="qrt-image-frame">
                          {{with .bannerImage | default "img/placeholder.jpg"}}
                          {{if strings.HasSuffix . ".mp4" }}
                          <video class="qrt-video-background" muted defaultMuted playsinline autoplay loop data-swiper-parallax="400" data-swiper-parallax-scale="1.4">
                                  <source src="{{. | absURL}}" type="video/mp4">
                          </video>
                          {{else}}
                          <img class="lozad" src="{{. | absURL}}" alt="project cover" data-swiper-parallax="400" data-swiper-parallax-scale="1.4">
                          {{end}}
                          {{end}}

                    </div>
                    <div class="qrt-overlay">
                      <div class="qrt-parallax-fix" data-swiper-parallax-x="-400" data-swiper-parallax-duration="1000">
                        <div class="qrt-banner-title">
                          {{ if .imageText}}
                            <img class="image_Text" src="{{.imageText}}">
                          {{end}}
                          {{ if .topText }}
                          <h1 class="qrt-white qrt-mb-30">{{ .topText | safeHTML}}</h1>
                          {{end}}
                          <div class="qrt-divider-2"></div>
                          {{ if .bottomText }}
                          <div class="qrt-text qrt-white qrt-mb-20">{{ .bottomText | safeHTML }}</div>
                          {{end}}
                          {{range .button}}
                                  {{if .buttonLink}}
                                  <a href="{{.buttonLink | absURL}}" class="qrt-btn qrt-btn-md qrt-btn-color qrt-cursor-scale qrt-anima-link qrt-mb-20"><span>{{if .buttonText}}{{.buttonText | plainify}}{{else}}Explore now{{end}}</span><i class="fas fa-arrow-right"></i></a>
                                  {{end}}
                          {{end}}
                          {{range .showreel}}
                          {{if .showreelLink}}
                            <!-- Button trigger modal -->
                            <button type="button" class="qrt-btn qrt-btn-md qrt-btn-color qrt-cursor-scale qrt-mb-20" style="background: none; border: 3px solid #ffffff;" data-fancybox="video"  href="{{.showreelLink}}">
                              <span>{{if .showreelText}}{{.showreelText}}{{else}}Showreel{{end}}</span><i class="fas fa-play"></i>
                            </button>
                            <!-- Modal -->
                            <!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content wrapper">
                                    <iframe width="100%" height="100%" src="{{.showreelLink | absURL}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"  allowfullscreen class="iframe-wrapper"></iframe>
                                </div>
                              </div>
                            </div> -->
                            {{end}}
                            {{end}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
          

         
        

          
          {{end}}
          {{end}}
         
          </div>
        </div>



