
                
           
  <div class="qrt-divider qrt-space-fix"></div>

  <div class="row">
    <div class="col-lg-12">

      <h3 class="qrt-mb-40">Testimonials</h3>

    </div>
    <div class="col-lg-12">

      <div class="swiper-container qrt-testimonials-slider" style="overflow: visible">
        <div class="swiper-wrapper">
            {{range $.Site.Data.testimonials}}
                {{range .}}
                <div class="swiper-slide">

                <div class="qrt-testimonial">
                  <div class="qrt-testimonial-header">
                      {{if .image}}
                  
                      <img src="{{.image | absURL}}" alt="Testimonial Picture">
        
                  {{end}}                    
                  <div class="qrt-testimonial-name" {{if .image}}{{else}}style="padding-left: 0px;"{{end}}>
                      <h4 class="qrt-mb-5">{{.name}}</h4>
                      <div class="qrt-el-suptitle">{{.company}}</div>
                    </div>
                  </div>
                  <div class="qrt-testimonial-text">
                    {{.description | plainify}}
                  </div>

                  {{with .rating}}
                  <ul class="qrt-stars">
                    {{range seq .}}
                    <li><i class="fas fa-star"></i></li>
                    {{end}}
                    {{if ne (int .) .}}
                    <li><i class="fas fa-star-half"></i></li>
                    {{end}}
                  </ul>
                  {{end}}
                </div>
      
                    
                    

              </div>
              
        {{end}}
        {{end}}
       
    
   
          </div>
        </div>
      </div>

    <div class="col-6">

      <div class="swiper-testi-pagination qrt-cursor-color qrt-cursor-scale"></div>

    </div>
    <div class="col-6">

      <div class="qrt-slider-nav">
        <!-- prev -->
        <div class="qrt-slider-prev qrt-testi-prev qrt-cursor-color qrt-cursor-scale"><i class="fas fa-arrow-left"></i></div>
        <!-- next -->
        <div class="qrt-slider-next qrt-testi-next qrt-cursor-color qrt-cursor-scale"><i class="fas fa-arrow-right"></i></div>
      </div>

    </div>


  </div>

  <div class="qrt-divider"></div>