<!-- generics -->
<link rel="icon" href="{{"/images/favicon/favicon-32.png"  | absURL}}" sizes="32x32">
<link rel="icon" href="{{"/images/favicon/favicon-57.png"  | absURL}}" sizes="57x57">
<link rel="icon" href="{{"/images/favicon/favicon-76.png"  | absURL}}" sizes="76x76">
<link rel="icon" href="{{"/images/favicon/favicon-96.png"  | absURL}}" sizes="96x96">
<link rel="icon" href="{{"/images/favicon/favicon-128.png"  | absURL}}" sizes="128x128">
<link rel="icon" href="{{"/images/favicon/favicon-228.png"  | absURL}}" sizes="228x228">

<!-- Android -->
<link rel="shortcut icon" sizes="196x196" href="{{"/images/favicon/favicon-196.png"| absURL}}">

<!-- iOS -->
<link rel="apple-touch-icon" href="{{"/images/favicon/favicon-120.png"  | absURL}}" sizes="120x120">
<link rel="apple-touch-icon" href="{{"/images/favicon/favicon-152.png"  | absURL}}" sizes="152x152">
<link rel="apple-touch-icon" href="{{"/images/favicon/favicon-180.png"  | absURL}}" sizes="180x180">

<!-- Windows 8 IE 10 -->
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="theme-color" content="#ffffff">