<div class="qrt-bottom-bar text-center py-2">
  <div class="col">
    <p>
      {{ .Site.Params.copyright }}
    </p>
  </div>
  <div class="col">
    {{ if .Site.Params.socialYouTube }}
    <a href="{{ .Site.Params.socialYouTube }}" target="_blank" class="qrt-cursor-scale qrt-cursor-color"><i class="fab fa-youtube" style="margin-right: 20px; color: white;"></i></a>
  {{ end }}
    {{ if .Site.Params.socialFacebook }}
      <a href="{{ .Site.Params.socialFacebook }}" target="_blank"  class="qrt-cursor-scale qrt-cursor-color"><i class="fab fa-facebook" style="margin-right: 20px; color: white;"></i></a>
    {{ end }}
  
    {{ if .Site.Params.socialLinkedIn }}
      <a href="{{ .Site.Params.socialLinkedIn }}" target="_blank" class="qrt-cursor-scale qrt-cursor-color"><i class="fab fa-linkedin" style="margin-right: 20px; color: white;"></i></a>
    {{ end }}
  </div>
</div>
