<div class="qrt-bottom-bar text-center py-3">
  <div class="col">
    <p>
      {{ .Site.Params.copyright }}
    </p>
  </div>

  <div class="col">
    {{ if .Site.Params.socialTwitter }}
      <a href="{{ .Site.Params.socialTwitter }}" target="_blank"><i class="fab fa-twitter" style="margin-right: 20px; color: white;"></i></a>
    {{ end }}
    
    {{ if .Site.Params.socialFacebook }}
      <a href="{{ .Site.Params.socialFacebook }}" target="_blank"><i class="fab fa-facebook" style="margin-right: 20px; color: white;"></i></a>
    {{ end }}
    
    {{ if .Site.Params.socialInstagram }}
      <a href="{{ .Site.Params.socialInstagram }}" target="_blank"><i class="fab fa-instagram" style="margin-right: 20px; color: white;"></i></a>
    {{ end }}
    {{ if .Site.Params.socialGitHub }}
      <a href="{{ .Site.Params.socialGitHub }}" target="_blank"><i class="fab fa-github" style="margin-right: 20px; color: white;"></i></a>
    {{ end }}
  </div>
</div>
