

  <div class="qrt-top-bar">
      <a href="/" class="qrt-symbol qrt-cursor-scale qrt-anima-link">

        <img src="/uploads/logo-left.png" class="d-block d-lg-none d-xl-none" alt="Logo Icon">

        <img src="/uploads/logo_light.png" class="d-none d-lg-block" alt="Logo Full">

      </a>
      <!-- <a href="/" class="qrt-logo qrt-cursor-color qrt-cursor-scale qrt-anima-link">
      </a> -->
      <div class="qrt-menu">
          <div id="qrt-dynamic-menu" class="qrt-dynamic-menu">
            <nav>
                  <ul>
                    <li class="{{if .IsHome}}current-menu-item{{end}} d-none"><a href="/">home</a></li>
                    <li class="{{if in ($.Permalink) "product_categories"}}current-menu-item{{end}} d-none"><a href="/product">Products</a></li>

            {{ range .Site.Menus.main }}
                  {{ if .HasChildren }}
                  <li {{if and (in ($.Permalink) (.URL | absURL )) (ne (len (.URL | chomp) ) 0 ) }}class="current-menu-item"{{end}}>
                  <a href="{{ .URL }}"  class="qrt-mobile-fix" >{{ .Name | safeHTML}}

                  </a>

                        <ul>
                        {{ range .Children }}
                        <li><a href="{{ .URL }}">{{ .Name   | safeHTML }}</a></li>
                              {{ end }}
                        </ul>
                        {{ else }}

                  <li {{if and (in ($.Permalink) (.URL | absURL )) (ne (len (.URL | chomp) ) 0 ) }}class="current-menu-item"{{end}}>

                  <a href="{{ .URL }}" >

                    {{ .Name | safeHTML }}</a>
                        {{ end  }}
                  </li>
                  {{ end }}

                </ul>
            </nav>
          </div>
      </div>
      <div class="qrt-buttons">
        {{/* if .Params.buttons */}}
          {{/* range first 1 .Params.buttons */}}
          <!-- <a href="{{/* .buttonLink | absURL */}}" class="qrt-btn qrt-btn-md qrt-btn-color qrt-send-request qrt-anima-link qrt-mr-20"><span>{{/* .buttonText */}}</span></a> -->
          {{/* end */}}
        {{/* else */}}
        <a href="https://www.unrealengine.com/marketplace/en-US/profile/Athian+Games" class="qrt-btn qrt-btn-md qrt-btn-color qrt-send-request qrt-mr-20"><span>Open Marketplace</span></a>
        {{/* end */}}
        <div class="qrt-menu-btn qrt-cursor-color qrt-cursor-scale"><span></span></div>
          <!-- <div class="qrt-search-btn qrt-cursor-color qrt-cursor-scale"><i class="fas fa-search"></i></div> -->
          <div class=" qrt-cursor-color qrt-cursor-scale"><span></span></div>
      </div>
      <!-- <div class="qrt-search">
          <form action="http://www.google.com/search?site%3Aathiangames.com" method="get">
            <input type="text" name="site:" value="{{.Site.BaseURL}}" hidden class="d-none">

            <input type="text" name="q" placeholder="Enter search query">
          </form>
      </div> -->
      <div class="qrt-info" id="qrt-scroll-info">
          
      </div>
    </div>
