  <!-- jquery-->
{{$jquery := resources.Get "js/plugins/jquery.min.js"}}
  <!-- anime-->
 {{$anime := resources.Get "js/plugins/anime.min.js"}}
  <!-- swiper-->
 {{$swiper := resources.Get "js/plugins/swiper.min.js"}}
  <!-- progressbar-->
 {{$progressbar := resources.Get "js/plugins/progressbar.min.js"}}
  <!-- smoothscrollbar-->
 {{$smoothscrollbar := resources.Get "js/plugins/smooth-scrollbar.min.js"}}
  <!-- overscroll-->
 {{$overscroll := resources.Get "js/plugins/overscroll.min.js"}}
  <!-- isotope-->
 {{$isotope := resources.Get "js/plugins/isotope.min.js"}}
  <!-- fancybox-->
 {{$fancybox := resources.Get "js/plugins/fancybox.min.js"}}
  <!-- swup-->
 {{$swup := resources.Get "js/plugins/swup.min.js"}}
  <!-- mapbox-->
 {{$mapbox := resources.Get "js/plugins/mapbox.min.js"}}

  <!-- main-->
 {{$main := resources.Get "js/main.js"}}


	{{ $plugins := resources.Get "js/plugins.js" }}
	{{ $custom_theme_js := resources.Get "js/custom_theme.js" }}
	{{ $timeago :=  resources.Get "js/timeago.js"}}

	

   
	{{- if .Site.IsServer -}}
	{{ $script := slice $jquery $anime $swiper $progressbar $smoothscrollbar $overscroll $isotope $fancybox $swup $mapbox $main  $plugins $timeago $custom_theme_js | resources.Concat "bundle.js" }}
	
	<script src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}"></script>
   
    {{- else -}}
	{{ $script := slice $jquery $anime $swiper $progressbar $smoothscrollbar $overscroll $isotope $fancybox $swup $mapbox $main  $plugins $timeago $custom_theme_js | resources.Concat "bundle.js" | minify | fingerprint }}
	<script src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}"></script>
	{{- end }}
	{{ with .Site.GetPage "/scripts/footer.md" }}{{ .Content }}{{ end }}

	{{if eq (lower .Site.Params.enableLozad) "true"}}
	<script>
	const observer = lozad(); // lazy loads elements with default selector as '.lozad'
observer.observe();
</script>
{{end}}
