{{define "main"}}

<div class="qrt-half-content-frame">
  <div class="qrt-left">

    <div class="row">

      <div class="col-xl-8 offset-xl-2 col-lg-12">
        <div class="row">
          <div class="col-lg-6 col-md-12">


          </div>


        </div>
        <div class="qrt-divider"></div>



      </div>
    </div>

    <section class="story-wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-5 story-img">
            <img src="/images/logos/UATC_Badge_dark_background@2x.png" alt="">
          </div>

          <div class="col-md-7 story-content align-self-center">
            <div class="story-header">
              <h2 class="story-title">Unreal Authorized Training Center</h2>
              <p class="story-subtitle">

              </p>
            </div>
            <p>
              We are now an Unreal Authorized Training Center (UATC). As a UATC, Athian Games is committed to helping developers improve their skills and knowledge of the Unreal Engine.
              We offer a range of trainings and courses that are designed to help professionals and hobbyists alike learn how to effectively use the Unreal Engine to create stunning games and interactive experiences.

              Our training courses are led by experienced instructors who are well-versed in the Unreal Engine and have a wealth of knowledge to share with their students.
              They use a combination of lectures, hands-on exercises, and real-world projects to help students learn the tools and techniques they need to succeed in the industry.

              In addition to our regular training courses, we also offer customized training programs for companies and organizations that are looking to upskill their teams or get started with the Unreal Engine.
              Our team of experts will work with you to create a tailored training program that meets your specific needs and goals.

              Whether you are just starting out in game development or are an experienced professional looking to expand your skillset,
              our training courses can help you take your skills to the next level and achieve success in the industry.
            </p>
       </div>

        </div>
      </div>
    </section>


    <section class="about-wrap">
      <div class="row m-0">

        <div class="col-md-11 align-self-center">
          <div class="about-content">
            <h2>Company Info</h2>
            <p>
              Athian Games is a game development studio that was founded in 2018 with a focus on creating high-end, story-based games using the Unreal Engine.
              The company is dedicated to delivering immersive and engaging gaming experiences to players around the world, and it uses the latest techniques and technologies to create games that are not only enjoyable to play, but also offer a meaningful and memorable experience.
            </p>
            <p>
              At Athian Games, we believe that the Unreal Engine is the best platform for creating cutting-edge games that push the boundaries of what is possible.
              It offers a wide range of tools and features that enable us to create highly detailed and realistic environments and characters, as well as smooth and seamless gameplay mechanics.
              We are constantly exploring new and innovative ways to use the Unreal Engine to create the best possible gaming experiences for our players.
            </p>
          </div>
        </div>

      </div>
    </section>

    <section class="founder-wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="founder-content">
              <div class="mb-4">
                <h3 class="founder-name">Sameek Kundu</h3>
                <div class="founder-meta">
                  Director
                </div>
              </div>
              <p>
                Sameek is a software engineer and a game developer by profession, and by passion, with proven skills and stong analytical
                abilities in coding in various languages, before he was introduced to the
                world of Game Development.  He has been working with the Unreal Engine since its release and has a deep understanding of the platform and its capabilities.

                Sameek is passionate about using technology to create immersive and engaging experiences for players, and he has dedicated his career to developing gameplay and tools that push the boundaries of what is possible.
                His expertise and leadership have been instrumental in the success of Athian Games and have helped the company to become one of the leading players in the game development industry.
              </p>

            </div>
          </div>
          <div class="col-md-4">
            <div class="founder-img">
              <img src="/images/directorpic.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>

<!--     What we do section starts -->
<!--    <section class="story-wrap">-->
<!--      <div class="container">-->
<!--        <div class="row">-->
<!--          <div class="col-md-5 story-img">-->
<!--            <img src="https://athiangames.com/img/aboutmecover.jpg" alt="">-->
<!--          </div>-->

<!--          <div class="col-md-7 story-content align-self-center">-->
<!--            <div class="story-header">-->
<!--              <h2 class="story-title">What we do</h2>-->
<!--              <p class="story-subtitle">-->

<!--              </p>-->
<!--            </div>-->

<!--            <p>-->
<!--              Driven by Passion, Innovation, and Technical Progression, we at Athian Games leverage the power of Unreal Engine to </p>-->

<!--            <p>-->
<!--              as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing  and a search for 'lorem ipsum' will uncover many web sites still in their infancy.-->
<!--            </p>-->

<!--            <a href="#" title="" class="button-dark">get in touch</a>-->

<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
<!--    </section>-->
<!--     what we do section ends-->

<!--     what we do section start-->
<!--    <section class="what-we-do-wrap">-->
<!--      <div class="container">-->
<!--        <div class="row">-->
<!--          <div class="col-md-8 what-contant">-->
<!--            <div class="content-container">-->
<!--              <h4 class="tagline">[our mission]</h4>-->
<!--              <h2 class="title">The point of using <strong>Lorem ipsum</strong> is that it </h2>-->
<!--              <p>-->
<!--                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-md-4 p-0 yt-video-wrapper">-->
<!--            <div class="yt-video-container">-->
<!--              <div class="yt-video-player">-->
<!--                <iframe src="" frameborder="0" allowfullscreen="true" class="yt-video-iframe">-->
<!--                </iframe>-->
<!--                <div class="yt-thumb-wrap">-->
<!--                  <img class="yt-thumb" src="https://athiangames.com/images/pvt_videothumbnail.jpg" alt="Video Preview" data-id="-yoDS9LK6p8">-->
<!--                  <div class="youtube-play-btn"></div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->

<!--    &lt;!&ndash; what we do section ends &ndash;&gt;-->

  </div>
  {{partial "inner-banner" .}}

</div>


<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- js for youtube code -->
<script type="text/javascript">
  jQuery(".yt-video-container .yt-thumb").click(function(){

    var iframe = jQuery(this);
    var data_Id =iframe.data("id");
    jQuery(this).parent().siblings(".yt-video-iframe").attr("src","https://www.youtube.com/embed/" + data_Id + "?autoplay=1&mute=1").show();
    jQuery(this).parent().remove();
  });
</script>
{{end}}
