{{define "main"}}
<div class="qrt-half-content-frame">
    <div class="qrt-left">

      <div class="row">
        <div class="col-lg-12">

          <h3 class="qrt-mb-20">Difficult to imagine an alternate reality where I have not been a gamer, eh...
        </h3>

        </div>
        <div class="col-lg-12 qrt-mb-25">

          <p>Passionate towards video games, and a computer geek from heart for as long as I can remember, I was always interested in Mathematics and Physics during my school days, and Programming, mainly ever since I stepped out of college to join the field of Software Engineering.

            .</p>

          <p class="mb-0">But gaming, was everything for me. It was like breathing, or living. Completing difficult missions in Dragon Age, and solving challenging puzzles in Tomb Raider gave me joy and excitement comparable to how the youngest Seeker in a Quidditch team would feel, after catching his/her very first Snitch.

        </p>

        </div>

      </div>
      <div class="qrt-divider"></div>

      <div class="row">
        <div class="col-lg-6 col-md-12">

          <div class="qrt-about-me-cover">
            <img src="/img/team/tm1.jpg" alt="team member">
            
          </div>
        </div>
        <div class="col-lg-6 col-md-12 align-self-center">

          <div class="qrt-member-about">
            <h3 class="qrt-mb-5">Sameek Kundu</h3>
            <div class="qrt-el-suptitle">Founder</div>
            <p>Hi, I am Sameek Kundu, a Software Programmer and a Game Developer with expertise in Unreal Engine 4. I have been born and brought up in the city of joy, Kolkata.

                I am a solo developer who currently develops game templates, plugins and asset packs for the Unreal Engine 4 Marketplace. My main interest is developing high end games, specially targeting PC, Playstation and VR devices, and currently I am working on building my very first game, based on my own original story that I am writing in my free time.</p>

          </div>

        </div>
    
        <div class="col-lg-6 col-md-12">

          <div class="qrt-about-me-cover">
            <img src="/img/team/tm1.jpg" alt="team member">
            
          </div>
        </div>
        <div class="col-lg-6 col-md-12 align-self-center">

          <div class="qrt-member-about">
    
            <p>Some text about unreal engine trainer</p>


          </div>

        </div>
      </div>
      <div class="qrt-divider"></div>

      <div class="row">

        <div class="col-lg-12">

          <h3 class="qrt-mb-40">My Services</h3>

        </div>

        <div class="col-lg-4">

          <div class="qrt-icon-box">
            <!-- <img class="mb-20" src="/img/icons/icon-1.svg" alt="icon"> -->
            <h4 class="mb-20">Architecture</h4>
            <div>Vero explicabo dolorem quod voluptatem consequatur, sint eius voluptates, amet. Animi perspiciatis amet.</div>
          </div>

        </div>
        <div class="col-lg-4">

          <div class="qrt-icon-box">
            <!-- <img class="mb-20" src="/img/icons/icon-2.svg" alt="icon"> -->
            <h4 class="mb-20">Interior design</h4>
            <div>Eum sapiente odit nisi ad et, amet. Animi perspiciatis amet, quo? Ea similique, ex quas tempore excepturi eos eaque.</div>
          </div>

        </div>
        <div class="col-lg-4">

          <div class="qrt-icon-box">
            <!-- <img class="mb-20" src="/img/icons/icon-3.svg" alt="icon"> -->
            <h4 class="mb-20">Repair</h4>
            <div>Animi perspiciatis amet, quo? Ea similique, ex quas tempore excepturi eos eaque esse itaque alias eveniet, vero explicabo.</div>
          </div>

        </div>
      </div>

      <div class="qrt-divider qrt-space-fix"></div>

      <div class="row">
        <div class="col-lg-3 col-sm-6">

          <div class="qrt-counter-frame">
            <div class="qrt-counter-box">
              <span class="qrt-counter">10</span>
            </div>
            <h5>Years Experience</h5>
          </div>

        </div>
        <div class="col-lg-3 col-sm-6">

          <div class="qrt-counter-frame">
            <div class="qrt-counter-box">
              <span class="qrt-counter">143</span>
            </div>
            <h5>Completed Projects</h5>
          </div>

        </div>
        <div class="col-lg-3 col-sm-6">

          <div class="qrt-counter-frame">
            <div class="qrt-counter-box">
              <span class="qrt-counter">114</span>
            </div>
            <h5>Happy Customers</h5>
          </div>

        </div>
        <div class="col-lg-3 col-sm-6">

          <div class="qrt-counter-frame">
            <div class="qrt-counter-box">
              <span class="qrt-counter">20</span>
            </div>
            <h5>Honors and Awards</h5>
          </div>

        </div>
      </div>



      {{partial "functionality/testimonials" .}}

    
  

    </div>
    <div id="fixed" class="qrt-right">
      <div class="qrt-half-banner qrt-left-align qrt-animated-zoom">
        <div class="qrt-image-frame">
          <img src="/img/banners/banner3.jpg" alt="banner">
        </div>
        <div class="qrt-overlay">
          <!-- <div class="qrt-scroll-hint">
            <span></span>
          </div> -->
          <div class="qrt-banner-title">
            <h2 class="qrt-white qrt-mb-10">Athian Games.</h2>
            <div class="qrt-divider-2"></div>
            <div class="qrt-text qrt-white qrt-mb-20">Dolor sit amet, consectetur adipisicing elit. <br>Vel excepturi, earum inventore.</div>
            <a href="contact.html" class="qrt-btn qrt-btn-md qrt-btn-color qrt-anima-link"><span>Get in touch</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

            {{.Content}}

{{end}}