{{define "main"}}
<div class="qrt-half-content-frame">
  <div class="qrt-left">

    <div class="row">
      <div class="col-xl-8 offset-xl-2 col-lg-12">
        <div class="row">
          <div class="col-lg-6 col-md-12">
          <div class="qrt-about-me-cover">
            <img src="/img/aboutmecover.jpg" alt="About Me">
          </div>
          </div>

          <div class="col-lg-6 col-md-12 align-self-center">

            <p>
              Based out of Kolkata, India, we are solely dedicated towards the development of cutting edge Unreal Engine Projects, ranging from high end games targeted towards PC, Consoles and VR,
              to a variety of assets and code plugins for the Unreal Marketplace.
              Our aim and focus has been delivering original story based games with stunning graphics, non linear gameplay, vast fictional worlds, and storylines that will be remembered for decades.
              We use the power of Unreal  Engine to develop quality driven projects, and over the years Unreal Engine has helped us achieve our visions into realities.
            </p>


          </div>

        </div>
        <div class="qrt-divider"></div>

        <div class="row">
          <div class="col-lg-6 col-md-12">

            <div class="qrt-about-me-cover">
              <img src="/img/aboutmecover.jpg" alt="About Me">


          </div>
          <div class="col-lg-6 col-md-12 align-self-center">

            <div class="qrt-member-about">
              <h3 class="qrt-mb-5">Sameek Kundu</h3>
              <div class="qrt-el-suptitle">Founder</div>
              <p>
                Based out of Kolkata, India, we are solely dedicated towards the development of cutting edge Unreal Engine Projects, ranging from high end games targeted towards PC, Consoles and VR,
                to a variety of assets and code plugins for the Unreal Marketplace.
                Our aim and focus has been delivering original story based games with stunning graphics, non linear gameplay, vast fictional worlds, and storylines that will be remembered for decades.
                We use the power of Unreal  Engine to develop quality driven projects, and over the years Unreal Engine has helped us achieve our visions into realities.
              </p>

            </div>

          </div>

        </div>



        {{/* partial "functionality/testimonials" . */}}
      </div>
    </div>




  </div>
  {{partial "inner-banner" .}}

</div>


{{end}}
