{{define "main"}}
<div class="contact-section" style="height: 90vh; display: flex; align-items: center; justify-content: center; position: relative; padding: 0 10%;">

  <!-- Background blur effect -->
  <div class="blur-background"></div>

  <!-- Left side with 'Get in touch', content and address -->
  <div class="contact-intro" style="flex: 1; padding: 20px; max-width: 40%;">
    <h2 class="qrt-white qrt-mb-10">Get in touch</h2>
    <div class="qrt-divider-2"></div>
    <div class="qrt-text qrt-mb-20">For inquiries, write to me at sameek.kundu@athiangames.com.</div>

    <!-- Our Address -->
    <h4 class="qrt-white qrt-mb-10">Our Address</h4>
    <address class="qrt-white qrt-mb-20">
      Plot No. II, G/7, Tata Avenida, <br>
      Dorabji Tata Road, Action Area 2, <br>
      Newtown, Kolkata 700156, <br>
      West Bengal, India <br>
    </address>

    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdjQrfuh0mO3ej1sepnoppXWIS-g2vk-RiPUyYL_1m2Z73Tiw/viewform" class="qrt-btn qrt-btn-md qrt-btn-color"><span>Write To Us</span></a>
  </div>

  <div class="contact-details" style="flex: 1; padding: 20px; max-width: 50%;">
  <!-- Map -->
    <div class="map-container-2" style="margin-bottom: 20px;">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3683.9493826367757!2d88.49415803235468!3d22.58099639804581!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a020b5260fb2f63%3A0x602b2ecdbf2b73b4!2sAvenida%20Tower%20B!5e0!3m2!1sen!2sin!4v1662814547071!5m2!1sen!2sin"></iframe>
    </div>
  </div>

</div>
{{end}}
