{{define "custom-style"}}
<style>
  .scroll-content {
    height: 100%;
}
</style>
{{end}}
{{define "main"}}
  <div class="qrt-half-banner qrt-left-align qrt-animated-show" style="height: 90vh;">
    <div class="qrt-image-frame"><img src="/img/banners/banner4.jpg" alt="banner"></div>
    <div class="qrt-overlay">
      <div class="qrt-banner-title">
        <h2 class="qrt-white qrt-mb-10">Get in touch</h2>
        <div class="qrt-divider-2"></div>
        <div class="qrt-text qrt-mb-20">For inquiries, write to me at <mark>sameek.kundu@athiangames.com.</mark>        </div><a href="//forms.google.com"
          class="qrt-btn qrt-btn-md qrt-btn-color qrt-anima-link"><span>Write To Us</span></a>
      </div>
    </div>
  </div>
{{end}}