{{ $link:= .Get "link" }}
{{ $section:= .Get "caption" }}
{{ $hidelozad:= .Get "hidelozad"}}
{{ with .Site.GetPage (string $link) }}

<div>
        
     
      {{ if .Params.image }} 
    <a   href="{{.Permalink}}" target="_blank"> 
            {{if eq (lower $hidelozad) "true" }}
            <img src="{{.Params.image | absURL}}" alt="{{ .Title}} | Image">    {{else}}
                <img class="lozad" src="{{.Params.image | absURL}}" alt="{{ .Title}} | Image"> </a> 
                {{end}}
           
                {{end}}
   
        <h5><a href="{{.Permalink}}">
                {{ .Title}} </a></h5>

    <div> <span>{{ if  $section }}{{ $section}}{{else}}{{index (split .Permalink "/" ) 3}}{{end}}</span> </div>
</div>

{{end}}