{{ define "main" }}
{{$args := .Params}}
<div class="qrt-content-frame column" style="font-family: {{.Params.fontFamily}};">
  {{ partial "partials/inner-banner.html" . }}
  {{ if .Params.description }}
    {{ $splitted := split .Params.description "\n" }}
    <section class="qrt-left column product-content">
    {{ range $splitted }}
        <p style="font-size: {{$args.contentFontSize}};">{{.}}</p>
    {{ end }}
    </section>
  {{ end }}
  {{if .Params.contentVideoId}}
  <section class="d-flex flex-column align-items-center custom-cursor">
    {{partial "partials/products/video.html" .}}
  </section>
  {{end}}
  {{if .Params.features}}
  <section class="d-flex flex-column align-items-center my-5">
    <h2 class="mb-5">Features</h2>
    <div class="d-flex flex-column justify-content-between">
      {{range $index, $element := .Params.features }} 
        {{$even := (modBool $index 2)}} 
        {{partial "partials/products/feature.html" (dict "context" $element "even" $even "args" $args)}} 
      {{end}}
    </div>
  </section>
  {{end}}
  <section class="qrt-left column product-content" style="font-size: {{.Params.contentFontSize}}">
    {{ partial "theme-files/content" . }}
  </section>
</div>
<script language="javascript" type="text/javascript" src="{{ "/js/product.js" | urlize | relURL }}"></script>
{{ end }}
