{{ define "main"}}

<div class="qrt-half-content-frame">
        <div class="qrt-left">
          {{partial "theme-files/content-design" .}}
          <div class="row">
            <div class="col-lg-12">
        
                
              <div class="qrt-post-frame qrt-lg-post qrt-popular">
                {{ $paginator := .Paginate .Data.Pages  }}


                {{ range first 1 ($paginator.Pages.ByDate.Reverse)  }}
                        {{partial "functionality/post-design-popular" .}}
                {{ end }}
        
        <!-- posts -->
                
              </div>

            </div>
            <div class="col-lg-12">

              <h3 class="qrt-mb-40">Other {{.Section | humanize | pluralize}}</h3>

            </div>


        <div class="row">
          {{ range after 1 ($paginator.Pages.ByDate.Reverse)  }}
          <div class="col-lg-6">

                  {{partial "functionality/post-design" .}}
                </div>

          {{ end }}
  
        </div>
        <!-- posts -->

            <div class="col-lg-12">
    
        {{partial "functionality/pagination" .}}
            </div>

          </div>
          <div class="qrt-divider qrt-space-fix-2"></div>
          </div>
      
{{partial "inner-banner" .}}
</div>


{{end}}
