
<!DOCTYPE html>
<html>

<head>
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	{{ block "meta-data" . }}
	{{ partial "theme-files/document-meta" .}}
	{{ end}}

	{{ partial "theme-files/favicon" . }}

	{{ partial "theme-files/stylesheets" . }}

	
	{{ block "custom-style" . }}

	{{ end}}
	
	


	{{ "<!--[if lt IE 9]>" | safeHTML }}

      <script src="{{"js/html5shiv.js" | absURL }}"></script>
      <script src="{{"js/respond.min.js" | absURL }}"></script>
{{ "<![endif]-->" | safeHTML }}
{{if eq (lower .Site.Params.enableLozad) "true"}}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
{{end}}
{{ with .Site.GetPage "/scripts/header.md" }}{{ .Content }}{{ end }}
{{- if .Site.IsServer -}}

{{else}}

{{end}}
</head>

<body>
	<div class="qrt-app">
		<!-- <div class="qrt-preloader">
		  <div class="qrt-preloader-content">
			<div class="qrt-logo">
			  <img src="/img/logo.svg" alt="Quarty">
			</div>
			<div id="preloader" class="qrt-preloader-load"></div>
		  </div>
		</div> -->
		<div id="cursor" class="qrt-cursor">
		  <div></div>
		  <div class="qrt-follower"><i class="fas fa-circle-notch"></i></div>
		</div>
		{{ partial "theme-files/navbar" .}}

	
		<div class="qrt-left-bar">
		  <div class="qrt-current-page-title">{{.Section | humanize}}</div>
		  <div class="qrt-change-language">
			<!-- <a href="#." class="qrt-leng qrt-cursor-color qrt-cursor-scale">fr</a>
			<a href="#." class="qrt-leng qrt-active">En</a> -->
		  </div>
		</div>
		<div class="qrt-curtain"></div>
	
		<div id="qrt-dynamic-content" class="qrt-dynamic-content">
		  <div class="qrt-content" id="qrt-scroll-content" >
	
			{{ block "main" . }}
              
			{{ end }}
		  </div>
		  <div class="qrt-bottom-bar text-center py-4">
			<div class="qrt-slider-pagination">
				<div class="swiper-pagination swiper-main-pagination"></div>
			  </div>
			<p>
			  {{ .Site.Params.copyright }}
			</p>
		  </div>
		 
		</div>
	  </div>


		{{/*partial "theme-files/footer" . */}}

		{{ partial "theme-files/scripts" . }}
		{{ partial "functionality/seo-schema" . }}

	
	{{ block "custom-scripts" . }}

	{{ end }}
	{{- if .Site.IsServer -}}

	{{else}}
	<script>
if (location.protocol !== 'https:') {
	location.replace('https:' + location.href.substring(location.protocol.length));
}
	</script>
	{{end}}


</body>

</html>
