{{ define "main"}}

<div class="qrt-half-content-frame">
        <div class="qrt-left">
          <div class="row">
            <div class="col-xl-8 offset-xl-2 col-lg-12">
              <div class="row">
                <div class="col-lg-12">
          {{if eq .Section "plugin_categories"}}
          <div class="row">
            <div class="qrt-filter qrt-mb-40">
              <a href="/plugin" data-filter="*" class="qrt-work-category qrt-current qrt-filter-icon qrt-cursor-color qrt-cursor-scale qrt-anima-link"><i
                    class="fas fa-arrow-left"></i>View All Plugins</a>  
                  <!-- <a href="/plugin" class="qrt-work-category qrt-cursor-color qrt-cursor-scale qrt-anima-link">View All Plugins</a> -->
          </div>
          </div>
          {{end}}
          <div class="qrt-just-text">
            {{partial "theme-files/content-design" .}}

          <div class="row">

    

            {{ $paginator := .Paginate .Data.Pages  }}

          {{ range ($paginator.Pages.ByDate.Reverse)  }}
          <div class="col-md-6 col-lg-4 col-xl-3 mb-20">

                  {{partial "functionality/post-design" .}}
                </div>

          {{ end }}
  
        <!-- posts -->

            <div class="col-lg-12">
    
        {{partial "functionality/pagination" .}}
            </div>

          </div>
          <div class="qrt-divider qrt-space-fix-2"></div>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
      
{{partial "inner-banner" .}}
</div>


{{end}}
