{{ define "main"}}

<div class="qrt-half-content-frame">
        <div class="qrt-left">
          <div class="qrt-just-text">
            {{partial "theme-files/content-design" .}}

          <div class="row">

    

            {{ $paginator := .Paginate .Data.Pages  }}

          {{ range ($paginator.Pages.ByDate.Reverse)  }}
          <div class="col-lg-4">

                  {{partial "functionality/post-design" .}}
                </div>

          {{ end }}
  
        <!-- posts -->

            <div class="col-lg-12">
    
        {{partial "functionality/pagination" .}}
            </div>

          </div>
          <div class="qrt-divider qrt-space-fix-2"></div>
          </div>
          </div>
      
{{partial "inner-banner" .}}
</div>


{{end}}
