.qrt-work-item {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.qrt-work-item:hover {
  transform: scale(1.05);  /* Slight zoom on hover */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15); /* Adding a shadow on hover */
}

.qrt-work-item.qrt-cursor-color.qrt-cursor-scale {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.qrt-work-item.qrt-cursor-color.qrt-cursor-scale:hover {
  transform: scale(1.05);  /* Slight zoom on hover */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15); /* Adding a shadow on hover */
}

h2.qrt-left {
  font-size: 2.1em;
  color: #f9f9f9;
  padding: 20px 0;

}

.course-title {
  text-align: center;
  width: 100%;
}
