/* ==========================================================================
   Your custom CSS styles
   ========================================================================== */

.btn__android {
  background-color: #1bd742 !important;
}

.btn__telegram {
  background-color: #61a8de !important;
}

.btn__linkedin {
  background-color: #0085b2 !important;
}

.btn__pinterest {
  background-color: #c9353d !important;
}

.btn__reddit {
  background-color: #f73d17 !important;
}

.btn__email {
  background-color: #cccccc !important;
}
.btn__social {
  font-weight: lighter;
  min-width: 80px;
  margin: 10px;
  background-color: #37515f;
  color: #ffffff;
}

.btn__social:hover {
  background-color: #ffffff !important;
  color: #37515f !important;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

table {
  /* Remove spacing between table cells (from Normalize.css) */
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
}

table caption {
  color: #000;
  font: italic 85%/1 arial, sans-serif;
  padding: 1em 0;
  text-align: center;
}

table td,
table th {
  border-left: 1px solid #cbcbcb; /*  inner column border */
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible; /*to make ths where the title is really long work*/
  padding: 0.5em 1em; /* cell padding */
}

table thead {
  background-color: #e0e0e0;
  color: #000;
  text-align: left;
  vertical-align: bottom;
}

/*
striping:
   even - #fff (white)
   odd  - #f2f2f2 (light gray)
*/
table td {
  background-color: transparent;
}
table-odd td {
  background-color: #f2f2f2;
}

/* nth-child selector for modern browsers */
table-striped tr:nth-child(2n-1) td {
  background-color: #f2f2f2;
}

/* BORDERED TABLES */
table-bordered td {
  border-bottom: 1px solid #cbcbcb;
}
table-bordered tbody > tr:last-child > td {
  border-bottom-width: 0;
}

/* HORIZONTAL BORDERED TABLES */

table-horizontal td,
table-horizontal th {
  border-width: 0 0 1px 0;
  border-bottom: 1px solid #cbcbcb;
}
table-horizontal tbody > tr:last-child > td {
  border-bottom-width: 0;
}

.highlight pre {
  padding: 20px;
}

.buy-buttons button {
  width: 100%;
}

/* ==========================================================================
   Your custom CSS styles for smartphones and screens smaller than 480 px
   ========================================================================== */

@media only screen and (max-width: 1200px) {
  /* insert styles here */
  .qrt-work-item .qrt-work-descr {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@media (min-width: 1401px) {
  .hide-on-large {
    display: none;
  }

  /* .qrt-app .qrt-content .qrt-half-content-frame .qrt-right {
  margin-left: auto;
  position: fixed;
  right: 0;
  width: 480px;
  height: calc(100vh - 100px); } */
}

@media (max-width: 1400px) {
  .hide-on-small {
    display: none;
  }
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
  display: none !important;
  visibility: hidden;
}

/* Clearfix
 * Adding a 'clearfix' class will allow parent elements to contain a floated child element
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
  *zoom: 1;
}

.p-0 {
  padding: 0px;
}

.p-3 {
  padding: 3px;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.p-25 {
  padding: 25px;
}

.p-30 {
  padding: 30px;
}

.p-35 {
  padding: 35px;
}

.p-40 {
  padding: 40px;
}

.p-45 {
  padding: 45px;
}

.p-50 {
  padding: 50px;
}

.pt-0 {
  padding-top: 0px;
}

.pt-3 {
  padding-top: 3px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-50 {
  padding-top: 50px;
}
.pt-7rem {
  padding-top: 7rem;
}

.pr-0 {
  padding-right: 0px;
}

.pr-3 {
  padding-right: 3px;
}

.pr-5 {
  padding-right: 5px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-25 {
  padding-right: 25px;
}

.pr-30 {
  padding-right: 30px;
}

.pr-35 {
  padding-right: 35px;
}

.pr-40 {
  padding-right: 40px;
}

.pr-45 {
  padding-right: 45px;
}

.pr-50 {
  padding-right: 50px;
}

.pb-0 {
  padding-bottom: 0px;
}

.pb-3 {
  padding-bottom: 3px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pl-0 {
  padding-left: 0px;
}

.pl-3 {
  padding-left: 3px;
}

.pl-5 {
  padding-left: 5px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-25 {
  padding-left: 25px;
}

.pl-30 {
  padding-left: 30px;
}

.pl-35 {
  padding-left: 35px;
}

.pl-40 {
  padding-left: 40px;
}

.pl-45 {
  padding-left: 45px;
}

.pl-50 {
  padding-left: 50px;
}

.m-0 {
  margin: 0px;
}

.m-3 {
  margin: 3px;
}

.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

.m-15 {
  margin: 15px;
}

.m-20 {
  margin: 20px;
}

.m-25 {
  margin: 25px;
}

.m-30 {
  margin: 30px;
}

.m-35 {
  margin: 35px;
}

.m-40 {
  margin: 40px;
}

.m-45 {
  margin: 45px;
}

.m-50 {
  margin: 50px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-3 {
  margin-top: 3px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mr-0 {
  margin-right: 0px;
}

.mr-3 {
  margin-right: 3px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-35 {
  margin-right: 35px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-45 {
  margin-right: 45px;
}

.mr-50 {
  margin-right: 50px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-3 {
  margin-bottom: 3px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.ml-0 {
  margin-left: 0px;
}

.ml-3 {
  margin-left: 3px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-25 {
  margin-left: 25px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-35 {
  margin-left: 35px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-45 {
  margin-left: 45px;
}

.ml-50 {
  margin-left: 50px;
}

.text-center {
  text-align: center;
}

img {
  max-width: 100%;
}

.w-100 {
  width: 100%;
}

.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: rgba(0, 0, 0, 0);
}

a.nav-link.scroll:hover {
  color: #df4112 !important;
}

::-moz-selection {
  /* Code for Firefox */
  color: #ffffff;
  background: #000000;
}

::selection {
  color: #ffffff;
  background: #000000;
}

.qrt-table h5,
.qrt-social-links h5 {
  color: #28292c;
}

.qrt-work-item .qrt-work-cover-frame img:hover {
  cursor: url("https://athiangames.netlify.app/uploads/cursor.png") 60 60, auto;
}

.wrapper {
  height: 600px;
  width: 600px;
  position: relative;
  overflow: hidden;
}

.wrapper iframe {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.ratio::before {
  display: block;
  padding-top: var(--bs-aspect-ratio);
  content: "";
}
.ratio > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ratio-1x1 {
  --bs-aspect-ratio: 100%;
}

.ratio-4x3 {
  --bs-aspect-ratio: 75%;
}

.ratio-16x9 {
  --bs-aspect-ratio: 56.25%;
}

.ratio-21x9 {
  --bs-aspect-ratio: 42.8571428571%;
}

.breadcrumb-item a {
  color: #fff;
  font-weight: lighter;
}

.breadcrumb-item.active {
  color: #fff;
  /* font-weight: bold; */
}

.product-banner-image {
  height: 500px;
  background-color: rgba(0, 0, 0, 0.25);
  background-blend-mode: overlay;
}

.youtube-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
}

.youtube-player {
  display: block;
  margin: 20px auto;
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}

.youtube-thumbnail {
  bottom: 0;
  display: block;
  left: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  height: auto;
}

.youtube-thumbnail:hover {
  cursor: url("/uploads/play1.png") 60 60, pointer;
}

.youtube-thumbnail:hover + .youtube-play-btn {
  transition: visibility 0.1s linear;
  visibility: hidden;
}

.youtube-play-btn {
  height: 72px;
  width: 72px;
  left: 50%;
  top: 50%;
  margin-left: -36px;
  margin-top: -36px;
  position: absolute;
  background: url("/uploads/play1.png") no-repeat center center;
  background-size: 72px 72px;
  cursor: pointer;
}

.youtube-iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.product-content {
  display: flex;
  max-width: 1200px !important;
  justify-content: center;
  align-self: center;
  text-align: justify;
  font-size: medium;
}

.feature-title {
  padding-left: 40px;
  padding-right: 40px;
  font-family: 'Brutal Type';
  font-weight: 300;
  line-height: 38px;
  -webkit-letter-spacing: 0;
  -moz-letter-spacing: 0;
  -ms-letter-spacing: 0;
  letter-spacing: 0;
}

.feature-description {
  font-weight: 400;
  font-family: 'Brutal Type';
  letter-spacing: 0px;
  padding-left: 40px;
  padding-right: 40px;
  line-height: 30px;
  letter-spacing: 0.2px;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-title {
  padding-left: 30px;
}

.contact-form {
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.contact-row {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  width: 70%;
}
@media (max-width: 840px) {
  .contact-row {
    width: 100%;
  }
}

.contact-input {
  padding: 10px 15px;
  border: #ccc solid 1px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

::placeholder {
  color: white;
}

.contact-input:focus {
  border: white solid 2px;
  outline: none;
}

.contact-button {
  margin-right: 0px;
  padding: 15px;
  width: 30%;
}
@media (max-width: 840px) {
  .contact-button {
    width: 100%;
  }
}

.courses-list-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-top: 20px;
  padding-right: 30px;
  box-sizing: border-box;
  background-color: white;
}

@media (max-width: 768px) {
  .courses-list-wrapper  {
    grid-template-columns: 1fr;
  }
}
.course-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (max-width: 840px) {
  .course-wrapper {
    flex-direction: column;
    padding-right: 0px;
    align-items: center;
  }
}
.course-wrapper:hover {
  background-color: rgba(255, 255, 255, 0.05);
  cursor: pointer;
}

.course-image {
  width: 100%;
  height: 80%;
}
@media (max-width: 840px) {
  .course-image {
    width: 100%;
  }
}
.courses-image {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* This creates a 16:9 aspect ratio (height:width) */
  overflow: hidden;
  margin-bottom: 20px;
}
.course-image {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* This creates a 16:9 aspect ratio (height:width) */
  overflow: hidden;
 
}
.course-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.courses-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.course-text {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  margin-left: 30px;

}
@media (max-width: 840px) {
  .course-text {
    margin-left: 0px;
    margin: 30px;
  }
}

.courses-title {
  display: flex;
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  
}

.course-title {
  font-size: 18px;
  margin-left: 20px;
  color: #2196f3;
  font-family:Inter, sans-serif;
}
.course-title:hover {
  color: #2196f3;

}

.course-short-description {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-family:Inter, sans-serif;
  line-height: 24px;
  -webkit-font-smoothing:antialiased;
  margin-left: 20px;
  max-height: 6.5em; /* Three lines of text */
  overflow: hidden;
  
}
.description-content {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit to three lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.course-learn-more {
  text-decoration: none;
  color: #2196f3;
  font-weight: 500;
  font-size: 18px;
  margin-top: 10px;
}
.course-learn-more:hover {
  color: #2196f3;
}

.course-panel-description {
  padding: 30px;
}

.instructors-list-title,
.upcoming-courses-title {
  font-size: 28px;
  margin-top: 40px;
}

.accordion-active {
  background-color: rgba(255, 255, 255, 0.1);
}
.accordion-active:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.accordion-panel {
  background-color: rgba(255, 255, 255, 0.1);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.instructors-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (max-width: 840px) {
  .instructors-list {
    flex-direction: column;
  }
}

.instructor-wrapper {
  width: 250;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  margin-right: 60px;
  position: relative;
  top: 0;
  left: 0;
}
@media (max-width: 840px) {
  .instructor-wrapper {
    width: 100%;
  }
}
.instructor-wrapper:hover {
  background-color: rgba(255, 255, 255, 0.05);
  cursor: pointer;
}

.instructor-image {
  width: 250px;
  object-fit: cover;
  height: 250px;
  position: relative;
  top: 0;
  left: 0;
}
@media (max-width: 840px) {
  .instructor-image {
    width: 100%;
  }
}

.instructor-certificate {
  position: absolute;
  top: -20px;
  right: -25px;
  width: 100px;
  height: 100px;
}
@media (max-width: 840px) {
  .instructor-certificate {
    right: 0;
  }
}

.instructor-text {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instructor-short-description {
  padding: 15px;
  max-width: 250px;
}

.instructor-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  position: relative;
  background-color: #1e1e1e;
  margin: 15% auto;
  padding: 20px;
  width: 35%; /* Could be more or less, depending on screen size */
  display: flex;
  flex-direction: row;
}
@media (max-width: 1800px) {
  .modal-content {
    width: 60%;
  }
}
@media (max-width: 840px) {
  .modal-content {
    width: 90%;
    flex-direction: column;
  }
}

.modal-close {
  position: absolute;
  visibility: hidden;
  top: 10px;
  right: 2.5%;
  color: #aaa;
  font-size: 28px;
  font-weight: 600;
}
@media (max-width: 840px) {
  .modal-close {
    visibility: hidden;
  }
}

.modal-close:hover,
.modal-close:focus {
  text-decoration: none;
  cursor: pointer;
}

.instructor-image-wrapper-modal {
  float: left;
  position: relative;
  top: 0;
  left: 0;
  min-width: 250px;
}

.instructor-description {
  padding: 0px 40px;
}
@media (max-width: 840px) {
  .instructor-description {
    padding: 0px 10px;
  }
}

.image_Text {
  float:left;
  margin: 0 25px 25px 10px;
  height: auto;
  width: 20%;
  max-width: 15%;

}

.image_Product {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 0px;
  transition: all 0.3s ease 0s;
  padding: 10px;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
}



#product_p {
  font-size: 25px;
}

.courses-top-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  grid-row-gap: 0;
  padding-right: 30px;
  box-sizing: border-box;
  background-color: white;
}

@media (max-width: 768px) {
  .courses-top-wrapper  {
    grid-template-columns: 1fr;
    grid-row-gap: 0;
  }
}

.course-bottom-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
 

  
}

